@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Kalam:wght@700 & display=swap');
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgba(200, 202, 207, 0.24)
}
.container{
    display: grid;            
    grid-row-gap: 10px;    
}
header{     
    height: 250px;     
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(imagens/header.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;      
}
.titulo{
    color: rgba(255, 255, 255, 0.884);
    font-size: 27px;    
    text-align: center;         
}
.navbar {    
    text-align: right;
    margin-top: 100px;         
}
nav ul {    
    display: inline-flex;
}
nav ul li {    
    list-style:none;    
}
nav ul li a {
    text-decoration:none;
    color:white;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;        
}
nav ul li a:hover{
    opacity: 0.5;
}
main{        
    grid-column-start: 1;
    grid-column-end: 3;    
}
.titulo-main{
    color: rgb(0, 0, 83);    
    font-size: 20px;
    text-align: center;         
}
.titulo-p{
    width: 600px;
    margin-left: 300px;
}
article{                  
    text-align: center;
}
.article-conteudo{     
    margin: 40px auto;
    max-width: 1200px;
    display: grid;          
}
.card {
    width: 600px;
    margin-left: 300px;            
    margin-top: 100px;
    margin-bottom: 30px;        
}
.photo{        
    width: 600px;
    height: 400px;
    object-fit: cover;    
    border: 3px solid white;    
}
h5{  
    color: rgb(0, 0, 83);   
    font-size: 17px;
    margin-top: 3px;
    margin-bottom: 1px; 
}
footer{        
    grid-column-start: 1;
    grid-column-end: 3;    
	color: black;
	font-size: 14px;
	text-align: center;
	text-shadow: 2px 2px 2px gray;    
}